# Abaikan semua file/folder sistem dan yang tidak perlu
*.jtx
*.log
*.tmp
*.lock
*.bak
AppData/
Comms/
UnistoreDB/
Thumbs.db
.DS_Store

# Folder cache XAMPP & sistem
tmp/
logs/
vendor/
node_modules/
.idea/
.vscode/
.env
